

{
    box-sizing: border-box;
}


.flex-row {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.flex-row:last-of-type {
    margin-bottom: 1em;
}


.flex-col {
    flex: 1;
    padding: .5em;
}

.flex-col-2 {
    flex: 2;
    padding: .5em;
}

.flex-col-3 {
    flex: 3;
    padding: .5em;
}

.flex-col-4 {
    flex: 4;
    padding: .5em;
}

.flex-row-space {
    display: flex;
    justify-content: space-between;
}

.flex-row-3 .flex-col {
    width: 32%;
}

.flex-row-4 .flex-col {
    width: 25%;
}


@media (max-width: auto) {

    .container {
        width: 100%;
        margin: auto;
        padding-top: 7em;
    }

    .flex-row {
        display: block;
        margin: 0 1em 0 1em;
    }

    .flex-row>.flex-col {
        display: block;
        width: 100%;
        padding: 1em 0 1em 0;
    }

    .flex-row-3 .flex-col {
        width: 100%;
    }

    .flex-col-2 {
        padding: 0;
    }

    .flex-col-3 {
        padding: 0;
    }

    .flex-col-4 {
        padding: 0;
    }
}